Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Creating a Pandas Series with the given data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Creating a list with 10 elements
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Applying pandas.Series function
series = pd.Series(data)

# Printing the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [3]:
import pandas as pd

# Creating a dictionary with the given data
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

# Creating a Pandas DataFrame
dataframe = pd.DataFrame(data)

# Printing the DataFrame
print(dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in pandas is a two-dimensional, tabular data structure with labeled rows and columns. It can hold data of different types (e.g., integers, floats, strings) and is comparable to a table in a relational database or an Excel spreadsheet.

Difference Between DataFrame and Series:
DataFrame: Two-dimensional with rows and columns, holding multiple Series or data arrays.
Series: One-dimensional, holding a single column of data with an optional index.

In [4]:
import pandas as pd

# Creating a Series
series = pd.Series([10, 20, 30], name="Values")
print("Series:")
print(series)

# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
dataframe = pd.DataFrame(data)
print("\nDataFrame:")
print(dataframe)

Series:
0    10
1    20
2    30
Name: Values, dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head()

Purpose: Returns the first N rows of the DataFrame.
Example use: If you're checking the first few rows of a large dataset to understand its structure.

tail()
Purpose: Returns the last N rows of the DataFrame.
Example use: If you want to quickly view the last few rows, often used to check data after a transformation or sort operation.

drop()
Purpose: Removes rows or columns by labels.
Example use: When you need to drop unnecessary columns from a DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: Mutable

You can modify the values in a Series, meaning you can change individual elements or update the entire Series with new values.

DataFrame: Mutable

DataFrames are mutable, allowing you to modify individual rows, columns, or the entire DataFrame. You can also add new columns or delete existing ones.

anel: Mutable, but deprecated in recent versions of Pandas.

Panels were mutable, but as of version 1.0.0, the Panel data structure has been deprecated, and its use is discouraged in favor of multi-dimensional data structures like xarray or using MultiIndex DataFrames.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
import pandas as pd

# Creating individual Series
series1 = pd.Series([1, 2, 3], name='A')
series2 = pd.Series([4, 5, 6], name='B')
series3 = pd.Series([7, 8, 9], name='C')

# Combining Series into a DataFrame
df = pd.DataFrame({
    'A': series1,
    'B': series2,
    'C': series3
})

# Display the DataFrame
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Each Series becomes a column in the DataFrame.
The index of each Series is automatically aligned